.manage-user {
    max-width: 800px;
    margin: auto;
  }
  
  .table th,
  .table td {
    text-align: center;
  }
  
  .modal-header, .modal-footer {
    justify-content: center;
  }
  
  button.me-2 {
    margin-right: 0.5rem;
  }
  